/* Import Sapce Mono Google Font */

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* User Agent Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Variables */

:root {
  --light-background: #f6f8ff;
  --light-foreground: #fefefe;
  --light-blue: #0079ff;
  --light-grey: #697c9a;
  --light-blue-grey: #4b6a9b;
  --light-charcoal: #2b3442;
  --dark-background: #141d2f;
  --dark-foreground: #1e2a47;
  --dark-blue: #0079ff;
  --dark-white: #ffffff;
  --regular: 400;
  --bold: 700;
}

/* Utility Classes */

.head-1-light {
  font-size: 26px;
  line-height: 38px;
  color: var(--dark-white);
}
.head-1-dark {
  font-size: 26px;
  line-height: 38px;
  color: var(--dark-white);
}

.head-2-light {
  font-size: 22px;
  line-height: 33px;
  color: var(--dark-white);
}

.head-2-dark {
  font-size: 22px;
  line-height: 33px;
  color: var(--dark-white);
}

.head-3-light,
.head-3-dark {
  font-size: 16px;
  line-height: 24px;
  color: var(--light-blue);
}

.head-4-light {
  font-size: 13px;
  line-height: 20px;
  color: var(--dark-white);
}
.head-4-dark {
  font-size: 13px;
  line-height: 20px;
  color: var(--dark-white);
}
.body-text {
  font-size: 15px;
  line-height: 25px;
  color: var(--dark-white);
}

.bold {
  font-weight: var(--bold);
}

.regular {
  font-weight: var(--regular);
}

.white {
  color: var(--dark-white);
}

.blue-grey {
  color: var(--dark-white);
}

.repo-item {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.search-button {
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 10px;
  padding: 24px 12.5px;
}

.search-button:hover {
  cursor: pointer;
  background-color: #60abff;
}

/* Element Styles */
body {
  font-family: "Space Mono", monospace;
  background-color: var(--dark-background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  font-size: 16px;
}

main {
  width: 730px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
header div {
  width: 90px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--dark-white);
  & svg path {
    fill: var(--dark-white);
  }
}
header div:hover {
  cursor: pointer;

  & h4 {
    color: #90a4d4;
    transition: 0.8s;
  }
  & svg path {
    fill: #90a4d4;
    transition: 0.8s;
  }
}
header div h4 {
  letter-spacing: 2.5px;
}
#search-bar {
  width: 100%;
  height: 69px;
  border-radius: 15px;
  border: none;
  padding: 0 16px;
  gap: 25px;
  line-height: 24px;
  color: var(--dark-white);
  background-color: var(--dark-foreground);
  display: grid;
  grid-template-columns: 5% 50% 20% 15%;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 24px;
}

#search-button {
  justify-self: baseline;
}

a {
  text-decoration: none;
  color: var(--light-blue);
}

#search-input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--dark-foreground);
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-white);
  outline: none;
  font-size: 18px;
  color-scheme: dark !important;
}

#search-results {
  height: 419px;
  width: 100%;
  background-color: var(--dark-foreground);
  border-radius: 15px;
  padding: 48px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  display: grid;
  grid-template-columns: 117px 480px;
  gap: 37px;
}

#user-pic {
  width: 117px;
  height: 117px;
  border-radius: 50%;
  object-fit: cover;
}

#user-info {
  display: grid;
  grid-template-rows: 85px 53px 185px;
}

#user-profile-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#user-name {
  margin-bottom: 2px;
}
#user-link-box {
  margin-bottom: 20px;
}
#user-join {
  text-align: right;
  color: var(--dark-white);
}
#user-bio-info p {
  opacity: 75%;
}
#repos-numbers {
  border-radius: 10px;
  background-color: var(--dark-background);
  height: 85px;
  display: flex;
  align-items: center;
  padding: 15px 32px;
  margin-bottom: 39px;
}
#repo-num-box {
  margin-right: 99px;
}

#followers-num-box {
  margin-right: 122px;
}

#location-info {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "location twitter"
    "link company";
  gap: 30px 0;
}

#location-box {
  grid-area: location;
}
#twitter-box {
  grid-area: twitter;
  padding-left: 30px;
}
#link-box {
  grid-area: link;
}
#company-box {
  grid-area: company;
  padding-left: 30px;
}

.location-item {
  display: flex;
  gap: 12px;
  align-items: center;
}
.location-item p {
  color: var(--dark-white);
  font-weight: var(--regular);
  font-size: 15px;
}

.not-available {
  opacity: 50%;
}

.red {
  color: #f74646;
  font-size: 15px;
}
#not-found-container {
  display: flex;
  justify-content: flex-end;
}
#not-found-container p {
  width: 100%;
  text-align: right;
}
.hidden {
  display: none;
}

@media screen and (max-width: 850px) {
  main {
    width: 573px;
  }
  #search-bar {
    gap: 5px;
    font-size: 10px;
  }
  #search-results {
    height: 481px;
    width: 100%;
    border-radius: 15px;
    padding: 48px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    display: block;
    position: relative;
  }
  #user-name {
    position: absolute;
    top: 40px;
    left: 198px;
  }
  #user-link-box {
    position: absolute;
    top: 81px;
    left: 198px;
  }
  #user-join-date {
    position: absolute;
    top: 109px;
    left: 198px;
  }
  #user-bio-info {
    position: absolute;
    top: 181px;
    left: 40px;
  }
  #user-repos-info {
    position: absolute;
    top: 263px;
    left: 40px;
  }
  /* #location-info {
    position: absolute;
    top: 278px;
    left: 40px;
  } */
}

@media screen and (max-width: 660px) {
  main {
    width: 327px;
    height: 777px;
    padding-top: 20px;
  }
  #search-bar {
    /* gap: 5px; */
    height: 60px;
    padding: 20px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #search-bar img {
    height: 20px;
    width: 20px;
  }
  #search-input {
    font-size: 13px;
    width: 100%;
  }
  #not-found {
    display: none;
  }
  #search-results {
    height: 517px;
    width: 100%;
    border-radius: 15px;
    padding: 48px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    display: block;
    position: relative;
  }
  #user-pic {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 32px;
    left: 24px;
  }
  #user-name {
    position: absolute;
    top: 33px;
    left: 113px;
    font-size: 16px;
  }
  #user-link-box {
    position: absolute;
    top: 57px;
    left: 113px;
    font-size: 13px;
  }
  #user-join-date {
    position: absolute;
    top: 82px;
    left: 113px;
    font-size: 13px;
  }
  #user-bio-info {
    position: absolute;
    top: 135px;
    left: 24px;
  }
  #user-repos-info {
    position: absolute;
    top: 233px;
    left: 24px;
    & #repos-numbers {
      height: 85px;
      padding: 18px 15px;
      width: 279px;
      text-align: center;
    }
  }
  #repo-num-box {
    margin-right: 1px;
    text-align: center;
    width: 79px;
  }
  #followers-num-box {
    margin-right: 1px;
    text-align: center;
    width: 81px;
  }
  #following-num-box {
    text-align: center;
    width: 89px;
    margin: 0;
  }
  #location-info {
    display: flex;
    flex-direction: column;
    height: 127px;
    gap: 16px;
    & #twitter-box {
      padding: 0;
    }
    & #company-box {
      padding: 0;
    }
  }
}
